/*Your styles*/
html, body {
  height:  100%;
  margin:  0;
  padding: 0;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor {
}

.hostFontFamily {
}

.hostFontSize {
}

/*font family, color and size*/
.hostFont {
}

/*background color*/
.hostBgd {
}

/*lighter background color*/
.hostBgdLight {
}

/*darker background color*/
.hostBgdDark {
}

/*background color and font*/
.hostElt {
}

label {
  margin-bottom: 5px;
}

input[type=number] {
  border:        1px solid;
  border-radius: 2px;
  height:        19px;
  width:         50px;
  margin:        0;
  padding:       0;
  text-align:    center;
  font-weight:   bold;
  font-size:     1.1em;
}

input[type=text] {
  border:        1px solid;
  border-radius: 2px;
  height:        19px;
  width:         50px;
  margin:        0;
  padding:       0;
  text-align:    center;
  font-weight:   bold;
  font-size:     1.1em;
}

input[type=checkbox] {
  opacity:  1;
  display:  inline-block;
  position: relative;
  margin:   3px 0 0 -1px;
}

.hostButton {
  border:         1px solid;
  border-radius:  2px;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
  width:          165px
}

.float-right {
  float: right;
  /*margin-right: 5px;*/
  /*margin-left: 20px;*/
}

.overhide {
  overflow: hidden;
}

.float-left {
  float:       left;
  margin-left: 5px;
}

.textareaContainer {
  box-sizing:     border-box;
  position:       absolute;
  top:            0;
  right:          0;
  bottom:         0;
  left:           0;
  padding:        5px;
  text-transform: none;
  margin-bottom:  80px;
  width:          100%;
  border-width:   5px;
  border-style:   solid;
  background:     #345321;
}

.div-inline-block {
  display: inline-block;
}

.footer {
  box-sizing: border-box;
  position:   absolute;
  right:      0;
  bottom:     0;
  margin:     0;
  padding:    0;
  width:      100%;
}

#txt_fr_sep {
  width: 130px;
}

#txt_fld {
  box-sizing:     border-box;
  position:       absolute;
  top:            0;
  right:          0;
  bottom:         0;
  left:           0;
  padding:        5px;
  text-transform: none;
  width:          100%;
}

#btn_div, #footer_row_1, #footer_row_3 {
  position:      absolute;
  bottom:        5px;
  margin-left:   5px;
  box-sizing:    border-box;
  margin:        0;
  padding:       0;
  resize:        none;
  height:        15px;
  font-size:     1.1em;
  border:        none;
  margin-left:   5px;
  margin-bottom: 5px;
  width:         340px;
}

#footer_row_1 {
  bottom: 60px;
}

#btn_div {
  bottom: 35px;
}

#btn_replace {
  font-weight: bold;
}

#letter_font_size {
  display:       inline-block;
  box-sizing:    border-box;
  padding-left:  2px;
  font-weight:   bold;
  font-size:     1.6em;
  text-align:    right;
  padding-right: 2px;
  border-bottom: 1px solid;
  margin-bottom: 11px;
}

#lbl_fr_sep {
  display: inline-block;
}

#editor {
  box-sizing:     border-box;
  position:       absolute;
  top:            0;
  right:          0;
  bottom:         0;
  left:           0;
  padding:        5px;
  text-transform: none;
  width:          100%;
}

#div_chk_save {
  margin-right: 15px;
}